
#rollButton {
	background-color: rgb(80, 163, 71);
	color: white;
	font-family: calibri;
	display: block;
	width: 140px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin:	20px auto;
	border-radius: 20px;
	text-shadow: 2px 2px grey;
	/*cursor: pointer;*/
}

#resetButton {
	background-color: rgb(188, 44, 22);
	color: white;
	font-family: calibri;
	display: block;
	width: 140px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin:	20px auto;
	border-radius: 20px;
	text-shadow: 2px 2px grey;
}

.displayBoard {
	font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: silver;
}

#rollMessage {
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: gold;
}

#instructions {
	border-radius: 30px;
	background-color: silver;
	border: 2px solid white;
	color: white;
	text-shadow: 2px 2px grey;
	font-size: 18px;
	font-family: calibri;
}

.lead {
	margin: 50px;
}

#diceContainer {
	width: 360px;
	height: 160px;
	/*background-color: blue;*/
	margin: 0 auto;
}

.diceImgs {
	background-image: url("imgs/dice0.jpg");
	width: 138px;
	height: 138px;
	display: inline-block;
	margin:	20px 20px;
	background-repeat: no-repeat;
  	background-position: top left;
  	border-radius: 20px;

}


.cover-heading {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px; 
}

